In [2]:
import pandas as pd

In [3]:
file = pd.read_csv("resources/waterquality.csv")

In [9]:
file.set_index(range(len(file)))

KeyError: 'None of [range(0, 198)] are in the columns'

In [4]:
file

,Date,Salinity (ppt),DissolvedOxygen (mg/L),pH,SecchiDepth (m),WaterDepth (m),WaterTemp (C),AirTemp (C)
0,1989-05-11,NaN,NaN,7.5,0.30,0.90,17.0,-17.777778
1,1989-05-18,NaN,12.0,7.5,0.20,0.60,17.5,20.500000
2,1989-05-25,NaN,NaN,8.0,0.40,0.80,23.0,25.000000
3,1989-06-01,NaN,12.0,8.0,0.40,0.90,25.5,29.000000
4,1989-07-11,NaN,NaN,8.5,0.30,0.90,28.5,28.000000
...,...,...,...,...,...,...,...,...
193,1994-04-11,1.0,8.6,7.3,0.20,0.75,15.7,13.000000
194,1994-04-18,1.0,8.8,7.6,0.20,0.70,17.5,16.600000
195,1994-04-25,1.0,10.0,7.9,0.20,0.50,19.3,22.100000
196,1994-05-02,1.3,9.8,7.5,0.20,0.65,16.1,13.000000
197,1994-05-09,1.0,10.1,7.9,0.25,0.75,18.8,19.500000

In [10]:
file.groupby('AirTemp (C)')["AirTemp (C)"].max()

AirTemp (C)
-17.777778   -17.777778
-1.111111     -1.111111
 0.000000      0.000000
 0.500000      0.500000
 1.000000      1.000000
                ...
 30.000000    30.000000
 30.500000    30.500000
 31.000000    31.000000
 31.500000    31.500000
 32.500000    32.500000
Name: AirTemp (C), Length: 72, dtype: float64