In [1]:
import pandas as pd

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
file = pd.read_csv("resources/waterquality.csv")

In [3]:
reviews = pd.read_csv("resources/wines_review.csv")

In [4]:
file.reset_index(drop=True, inplace=True)

In [5]:
file["index"] = range(len(file))

In [6]:
file

,Date,Salinity (ppt),DissolvedOxygen (mg/L),pH,SecchiDepth (m),WaterDepth (m),WaterTemp (C),AirTemp (C),index
0,1989-05-11,NaN,NaN,7.5,0.30,0.90,17.0,-17.777778,0
1,1989-05-18,NaN,12.0,7.5,0.20,0.60,17.5,20.500000,1
2,1989-05-25,NaN,NaN,8.0,0.40,0.80,23.0,25.000000,2
3,1989-06-01,NaN,12.0,8.0,0.40,0.90,25.5,29.000000,3
4,1989-07-11,NaN,NaN,8.5,0.30,0.90,28.5,28.000000,4
...,...,...,...,...,...,...,...,...,...
193,1994-04-11,1.0,8.6,7.3,0.20,0.75,15.7,13.000000,193
194,1994-04-18,1.0,8.8,7.6,0.20,0.70,17.5,16.600000,194
195,1994-04-25,1.0,10.0,7.9,0.20,0.50,19.3,22.100000,195
196,1994-05-02,1.3,9.8,7.5,0.20,0.65,16.1,13.000000,196
197,1994-05-09,1.0,10.1,7.9,0.25,0.75,18.8,19.500000,197

In [7]:
file.groupby('AirTemp (C)')["AirTemp (C)"].count()

AirTemp (C)
-17.777778    2
-1.111111     1
 0.000000     1
 0.500000     1
 1.000000     1
             ..
 30.000000    2
 30.500000    1
 31.000000    1
 31.500000    1
 32.500000    1
Name: AirTemp (C), Length: 72, dtype: int64

In [8]:
file.groupby("Date").apply(lambda df:df.pH.iloc[0])

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\3377219060.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  file.groupby("Date").apply(lambda df:df.pH.iloc[0])

Date
1989-05-11    7.5
1989-05-18    7.5
1989-05-25    8.0
1989-06-01    8.0
1989-07-11    8.5
             ...
1994-04-11    7.3
1994-04-18    7.6
1994-04-25    7.9
1994-05-02    7.5
1994-05-09    7.9
Length: 198, dtype: float64

In [9]:
reviews.groupby('points').price.max()

points
85     30.0
86    100.0
87     69.0
88     75.0
Name: price, dtype: float64

In [10]:
reviews.groupby('winery').apply(lambda df: df.title)

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\856565739.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby('winery').apply(lambda df: df.title)

winery
Acrobat                          21                     Acrobat 2013 Pinot Noir (Oregon)
Adega Cooperativa do Cartaxo     79    Adega Cooperativa do Cartaxo 2014 BridÃƒÂ£o Tour...
Aresti                           80    Aresti 2014 Special Release Reserva CarmenÃƒÂ¨re...
Baglio di Pianetto               22    Baglio di Pianetto 2007 Ficiligno White (Sicilia)
Basel Cellars                    67    Basel Cellars 2013 Inspired Red (Columbia Vall...
                                                             ...
Vignerons de Bel Air             49     Vignerons de Bel Air 2011 EtÃƒÂ© Indien (Brouilly)
Vignerons des Terres SecrÃƒÂ¨tes   66    Vignerons des Terres SecrÃƒÂ¨tes 2015 MÃƒÂ¢con-Mil...
Viticultori Associati Canicatti  50    Viticultori Associati Canicatti 2008 Scialo Re...
Yalumba                          77    Yalumba 2016 Made With Organic Grapes Chardonn...
Z'IVO                            78    Z'IVO 2015 RosÃƒÂ© of Pinot Noir (Eola-Amity Hills)
Name: title, Length: 101, dtype: object

In [11]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\506966275.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
Acrobat                                             Acrobat 2013 Pinot Noir (Oregon)
Adega Cooperativa do Cartaxo       Adega Cooperativa do Cartaxo 2014 BridÃƒÂ£o Tour...
Aresti                             Aresti 2014 Special Release Reserva CarmenÃƒÂ¨re...
Baglio di Pianetto                 Baglio di Pianetto 2007 Ficiligno White (Sicilia)
Basel Cellars                      Basel Cellars 2013 Inspired Red (Columbia Vall...
                                                         ...
Vignerons de Bel Air                Vignerons de Bel Air 2011 EtÃƒÂ© Indien (Brouilly)
Vignerons des Terres SecrÃƒÂ¨tes     Vignerons des Terres SecrÃƒÂ¨tes 2015 MÃƒÂ¢con-Mil...
Viticultori Associati Canicatti    Viticultori Associati Canicatti 2008 Scialo Re...
Yalumba                            Yalumba 2016 Made With Organic Grapes Chardonn...
Z'IVO                              Z'IVO 2015 RosÃƒÂ© of Pinot Noir (Eola-Amity Hills)
Length: 92, dtype: object

In [12]:
reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃƒ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OÃ¢â‚¬â„¢Keefe,@kerinokeefe,Nicosia 2013 VulkÃƒ Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÃ‚,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÃ‚,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,France,The wine comes from one of the cru estates fol...,NaN,88,18.0,Beaujolais,RÃƒÂ©gniÃƒÂ©,NaN,Roger Voss,@vossroger,Henry Fessy 2015 RÃƒÂ©gniÃƒÂ©,Gamay,Henry Fessy
97,97,US,A wisp of bramble extends a savory tone from n...,Ingle Vineyard,88,20.0,New York,Finger Lakes,Finger Lakes,Anna Lee C. Iijima,NaN,Heron Hill 2015 Ingle Vineyard Riesling (Finge...,Riesling,Heron Hill
98,98,Italy,"Forest floor, menthol, espresso, cranberry and...",Dono Riserva,88,30.0,Tuscany,Morellino di Scansano,NaN,Kerin OÃ¢â‚¬â„¢Keefe,@kerinokeefe,Serpaia di Endrizzi 2010 Dono Riserva (Morelli...,Sangiovese,Serpaia di Endrizzi
99,99,US,This blends 20% each of all five red-Bordeaux ...,Intreccio Library Selection,88,75.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Soquel Vineyards 2013 Intreccio Library Select...,Bordeaux-style Red Blend,Soquel Vineyards
100,100,US,"Fresh apple, lemon and pear flavors are accent...",NaN,88,18.0,New York,Finger Lakes,Finger Lakes,Anna Lee C. Iijima,NaN,Ventosa 2015 Pinot Gris (Finger Lakes),Pinot Gris,Ventosa

In [13]:
file = pd.read_csv("resources/temp.csv")

In [14]:
file

    winery   title
0  WineryA  Title1
1  WineryA  Title2
2  WineryB  Title3
3  WineryB  Title4
4  WineryB  Title5

difference between `file.groupby("winery").apply(lambda df: df.title)` and `file.groupby("winery").apply(lambda df: df.title.iloc[0])`

In [15]:
file.groupby("winery").apply(lambda df: df.title)

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\753630985.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  file.groupby("winery").apply(lambda df: df.title)

winery
WineryA  0    Title1
         1    Title2
WineryB  2    Title3
         3    Title4
         4    Title5
Name: title, dtype: object

In [16]:
file.groupby("winery").apply(lambda df: df.title.iloc[0]) # excludes the Title2 for wineryA and Title3 and 4 for wineryB

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\3966377523.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  file.groupby("winery").apply(lambda df: df.title.iloc[0]) # excludes the Title2 for wineryA and Title3 and 4 for wineryB

winery
WineryA    Title1
WineryB    Title3
dtype: object

In [17]:
t = reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()]).head(2)
t

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\1377285115.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  t = reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()]).head(2)

                            Unnamed: 0    country  \
country   province
Argentina Mendoza Province          17  Argentina
          Other                     16  Argentina

                                                                  description  \
country   province
Argentina Mendoza Province  Raw black-cherry aromas are direct and simple ...
          Other             Baked plum, molasses, balsamic vinegar and che...

                                    designation  points  price  \
country   province
Argentina Mendoza Province  Winemaker Selection      87   13.0
          Other                           Felix      87   30.0

                                    province  region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province   Mendoza      NaN
          Other                        Other  Cafayate      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Gaucho Andino 2011 Winemaker Selection Malbec ...
          Other                    Felix Lavaque 2010 Felix Malbec (Cafayate)

                           variety         winery
country   province
Argentina Mendoza Province  Malbec  Gaucho Andino
          Other             Malbec  Felix Lavaque

<!-- ![My image](img\two_row_groupby.png) -->
__index became the two rows aka _multi index___
<br>
<img src="img\two_row_groupby.png" style="width:500px">

In [18]:
type(t.index)

pandas.core.indexes.multi.MultiIndex

In [19]:
reviews.groupby(["country"]).price.agg([len,min,max])

C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\628409967.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(["country"]).price.agg([len,min,max])
C:\Users\adpd1\AppData\Local\Temp\ipykernel_12908\628409967.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(["country"]).price.agg([len,min,max])

           len   min    max
country
Argentina    2  13.0   30.0
Australia    2  18.0   20.0
Austria      1  12.0   12.0
Chile        5   9.0   22.0
France      14   9.0   58.0
Germany      4   9.0   24.0
Italy       24  10.0   35.0
Portugal     2  15.0   15.0
Spain        3  15.0   28.0
US          44  12.0  100.0

In [36]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len]).head(50)
countries_reviewed

                             len
country   province
Argentina Mendoza Province     1
          Other                1
Australia South Australia      2
Austria   Burgenland           1
Chile     Colchagua Valley     2
          Maipo Valley         1
          Maule Valley         1
          Rapel Valley         1
France    Alsace               3
          Beaujolais           5
          Bordeaux             1
          Burgundy             2
          Champagne            2
          France Other         1
Germany   Mosel                1
          Rheinhessen          3
Italy     Central Italy        1
          Sicily & Sardinia   18
          Southern Italy       2
          Tuscany              3
Portugal  Douro                1
          Tejo                 1
Spain     Galicia              1
          Northern Spain       2
US        California          25
          Michigan             1
          New York             2
          Oregon               6
          Virginia             4
          Washington           6

In [21]:
flat_mult_ind = countries_reviewed.reset_index() # rm multi-index and adds 0,1,2 as index
flat_mult_ind

     country          province  len
0  Argentina  Mendoza Province    1
1  Argentina             Other    1

### Sorting

In [22]:
countries_reviewed = countries_reviewed.reset_index()

In [37]:
countries_reviewed.head(50)

                             len
country   province
Argentina Mendoza Province     1
          Other                1
Australia South Australia      2
Austria   Burgenland           1
Chile     Colchagua Valley     2
          Maipo Valley         1
          Maule Valley         1
          Rapel Valley         1
France    Alsace               3
          Beaujolais           5
          Bordeaux             1
          Burgundy             2
          Champagne            2
          France Other         1
Germany   Mosel                1
          Rheinhessen          3
Italy     Central Italy        1
          Sicily & Sardinia   18
          Southern Italy       2
          Tuscany              3
Portugal  Douro                1
          Tejo                 1
Spain     Galicia              1
          Northern Spain       2
US        California          25
          Michigan             1
          New York             2
          Oregon               6
          Virginia             4
          Washington           6

In [44]:
countries_reviewed.sort_values(by='len')

                             len
country   province
Argentina Mendoza Province     1
US        Michigan             1
Spain     Galicia              1
Portugal  Tejo                 1
          Douro                1
Italy     Central Italy        1
France    France Other         1
          Bordeaux             1
Germany   Mosel                1
Chile     Rapel Valley         1
          Maule Valley         1
          Maipo Valley         1
Austria   Burgenland           1
Argentina Other                1
France    Burgundy             2
          Champagne            2
US        New York             2
Italy     Southern Italy       2
Chile     Colchagua Valley     2
Australia South Australia      2
Spain     Northern Spain       2
Italy     Tuscany              3
Germany   Rheinhessen          3
France    Alsace               3
US        Virginia             4
France    Beaujolais           5
US        Oregon               6
          Washington           6
Italy     Sicily & Sardinia   18
US        California          25

In [39]:
countries_reviewed.sort_values(by='len', ascending=False)

                             len
country   province
US        California          25
Italy     Sicily & Sardinia   18
US        Washington           6
          Oregon               6
France    Beaujolais           5
US        Virginia             4
France    Alsace               3
Italy     Tuscany              3
Germany   Rheinhessen          3
France    Burgundy             2
          Champagne            2
Australia South Australia      2
US        New York             2
Chile     Colchagua Valley     2
Italy     Southern Italy       2
Spain     Northern Spain       2
Chile     Rapel Valley         1
Portugal  Tejo                 1
Austria   Burgenland           1
US        Michigan             1
Spain     Galicia              1
Chile     Maipo Valley         1
Portugal  Douro                1
France    Bordeaux             1
Chile     Maule Valley         1
Italy     Central Italy        1
Argentina Other                1
Germany   Mosel                1
France    France Other         1
Argentina Mendoza Province     1

In [43]:
countries_reviewed.sort_index()

                             len
country   province
Argentina Mendoza Province     1
          Other                1
Australia South Australia      2
Austria   Burgenland           1
Chile     Colchagua Valley     2
          Maipo Valley         1
          Maule Valley         1
          Rapel Valley         1
France    Alsace               3
          Beaujolais           5
          Bordeaux             1
          Burgundy             2
          Champagne            2
          France Other         1
Germany   Mosel                1
          Rheinhessen          3
Italy     Central Italy        1
          Sicily & Sardinia   18
          Southern Italy       2
          Tuscany              3
Portugal  Douro                1
          Tejo                 1
Spain     Galicia              1
          Northern Spain       2
US        California          25
          Michigan             1
          New York             2
          Oregon               6
          Virginia             4
          Washington           6

In [41]:
countries_reviewed.sort_values(by=['country','len'])

                             len
country   province
Argentina Mendoza Province     1
          Other                1
Australia South Australia      2
Austria   Burgenland           1
Chile     Maipo Valley         1
          Maule Valley         1
          Rapel Valley         1
          Colchagua Valley     2
France    Bordeaux             1
          France Other         1
          Burgundy             2
          Champagne            2
          Alsace               3
          Beaujolais           5
Germany   Mosel                1
          Rheinhessen          3
Italy     Central Italy        1
          Southern Italy       2
          Tuscany              3
          Sicily & Sardinia   18
Portugal  Douro                1
          Tejo                 1
Spain     Galicia              1
          Northern Spain       2
US        Michigan             1
          New York             2
          Virginia             4
          Oregon               6
          Washington           6
          California          25

tmr